<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ProjectOne</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>AllRevemployeesServlet</servlet-name>
		<url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllRevemployeesServlet</servlet-name>
		<servlet-class>com.revature.web.AllRevemployeesServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>AllTicketsServlet</servlet-name>
		<url-pattern>/tickets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllTicketsServlet</servlet-name>
		<servlet-class>com.revature.web.AllTicketsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RevemployeePostServlet</servlet-name>
		<url-pattern>/revemployeePost</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RevemployeePostServlet</servlet-name>
		<servlet-class>com.revature.web.RevemployeePostServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RequestParametersServlet</servlet-name>
		<url-pattern>/parameters</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RequestParametersServlet</servlet-name>
		<servlet-class>com.revature.web.RequestParametersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>DispatcherServlet</servlet-name>
	<servlet-class>com.revature.web.DispatcherServlet</servlet-class>
	</servlet>
	 <servlet-mapping>
		<servlet-name>Cookies</servlet-name>
		<url-pattern>/cookies</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Cookies</servlet-name>
	<servlet-class>com.revature.web.Cookies</servlet-class>
	</servlet>
</web-app>